{% extends 'minerals/layout.html' %}
{% load static from staticfiles %}
{% load minerals_extras %}

{%  block title %}{{ mineral.name|upper }}{% endblock %}
{% block content %}
    <div class="grid-80 mineral__container">
      <h1 class="mineral__name">{{ mineral.name }}</h1>
      <div class="mineral__image-bg">
          {% with min=mineral.name %}
            <img class="mineral__image" src="{% static 'images'%}/{{ min }}.jpg">
          {% endwith %}
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
            {% for key, value in mineral.items %}
                {%  if value != None and key != 'image_caption' %}
                <tr>
                    <td class="mineral__category">{{ key|title|no_underscores }}</td>
                    <td>{{ value|safe }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
      </div>
    </div>

{% endblock %}